{% set catEnergy = ['A','B','C','D','E','F','G']%}


        <div >

            <ul class="class-energy-list list-unstyled">
                <li>
                    <span class="caption-text d-block">Cert. Eficiencia Energética</span>
                    <strong class="caption-text d-block"> {{ property.energyCertificate?property.energyCertificate : 'En Proceso'  }} </strong>
                </li>
                {% if property.energyConsumption is not empty %}

                <li>
                    <span class="caption-text d-block">Consumo de Energía</span>
                    <strong class="caption-text d-block">{{ property.energyConsumption}}</strong>
                </li>
                {% endif %}

                {% if property.energyEmission is not empty %}
                    <li>
                        <span class="caption-text d-block">Emisiones</span>
                        <strong class="caption-text d-block">{{ property.energyEmission}}</strong>
                    </li>
                {% endif %}

            </ul>
            <ul class="class-energy  text-center">

                {% for cat  in catEnergy %}
                    <li class="class-energy-indicator {{ (property.energyCertificate == cat)? 'class-energy-indicators_active':'' }} " >
                        <span class="energy-{{cat}}">{{cat}}</span>
                    </li>
                {% endfor %}

            </ul>
        </div>

