{% extends 'layout/base.html.twig' %}

{% block title %}{{ "title.properties_on_map"|trans }}{% endblock %}

{% block description %}{{ site.meta_description }}{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}

        <a href="{{ url('admin_settings') }}" class="btn btn-primary float">
            <i class="fas fa-cog float-icon"></i>
        </a>

    {% endif %}

    {% if site.ymaps_key != '' %}

        <script src="https://maps.googleapis.com/maps/api/js?callback=initMap&key={{ site.ymaps_key }}&lang={{ app.request.locale }}" async defer></script>

    {% else %}

        <script src="https://maps.googleapis.com/maps/api/js?callback=initMap&lang={{ app.request.locale }}"></script>

    {% endif %}

    <script>

        function initMap() {


            function initMap() {
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: {{ site.map_zoom|default('7') }},
                    center:  [{{ site.map_center|default('27.188534, -81.128735') }}],,
                });

                new google.maps.Marker({
                    position:  [{{ site.map_center|default('27.188534, -81.128735') }}],,
                    map,
                    title: "Hello World!",
                });
                }

                window.initMap = initMap;

        }

    </script>

    <div id="map" class="mb-3 mt-3"></div>

{% endblock %}
