{% extends 'layout/base.html.twig' %}

{% block title %}{{ property.propertyDescription.metaTitle|default(property.propertyDescription.title) }}{% endblock %}
{% block description %}{{ property.propertyDescription.metaDescription }}{% endblock %}

{% block stylesheets %}
    {{parent()}}

{% endblock %}

{% block header %}{% endblock %}

{% block body %}


    {% if is_granted('ROLE_ADMIN') %}

        <a href="{{ url('admin_property_edit', {id: property.id}) }}" class="btn btn-primary " style="    z-index: 9999999;
    position: fixed;
    right: 25px;
    top: 94%;">
            Edit
        </a>

    {% endif %}

    {% for photo in property.photos | slice(0, 1) %}
        {% set image_property =  photo.photo? '/uploads/images/large/' ~  photo.photo : '/images/no-photo.png' %}

        <div class="site-blocks-cover overlay" style="background-image: url({{ image_property }});" data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-10">
                        <span class="d-inline-block text-white px-3 mb-3 property-offer-type rounded">Property Details of</span>
                        <h1 class="mb-2">{{ property.propertyDescription.title|upper }}</h1>
                        <p class="mb-5">
                            <strong class="h2 text-success font-weight-bold">
                                {% if property.price != '' %}
                                         {{ property.price|format_currency('EUR', {fraction_digit: 0}) }}
                                        {% if property.priceType != '' %}
                                            / {{ property.priceType }}
                                        {% endif %}
                                {% endif %}

                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    {% else %}

        <div class="site-blocks-cover overlay" style="background-image: url({{ asset('/images/no-photo.png') }});" data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-10">
                        <span class="d-inline-block text-white px-3 mb-3 property-offer-type rounded">Property Details of</span>
                        <h1 class="mb-2">{{ property.propertyDescription.title|upper }}</h1>
                        <p class="mb-5">
                            <strong class="h2 text-success font-weight-bold">
                                {% if property.price != '' %}
                                    {{ property.price|format_currency('EUR', {fraction_digit: 0}) }}
                                    {% if property.priceType != '' %}
                                        / {{ property.priceType }}
                                    {% endif %}
                                {% endif %}

                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}





    <div class="site-section site-section-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-8" style="margin-top: -150px;">
                    <div class="mb-5">
                        <div class="slide-one-item home-slider owl-carousel">

                            {% for sliderFoto in property.photos %}

                                <div><img src="/uploads/images/large/{{ sliderFoto.photo }}" alt="Image" class="img-fluid"></div>

                            {% endfor %}
                        </div>

                    </div>
                    <div class="bg-white">
                        <div class="row mb-5">
                            {% if property.price != '' %}
                            <div class="col-md-6">
                                <strong class="text-success h1 mb-3">
                                    {{ property.price|format_currency('EUR', {fraction_digit: 0}) }}
                                    {% if property.priceType != '' %}
                                        / {{ property.priceType }}
                                    {% endif %}
                                </strong>
                            </div>
                            {% endif %}

                            <div class="col-md-6">
                                <ul class="property-specs-wrap mb-3 mb-lg-0  float-lg-right">
                                    {% if property.bedroomsNumber %}


                                    <li>
                                        <span class="property-specs">Beds</span>
                                        <span class="property-specs-number">{{ property.bedroomsNumber }}</span>

                                    </li>
                                    {% endif %}
                                    {% if property.bathroomsNumber %}

                                    <li>
                                        <span class="property-specs">Baths</span>
                                        <span class="property-specs-number">{{ property.bathroomsNumber }} </span>

                                    </li>
                                    {% endif %}
                                    {% if property.area %}

                                    <li>
                                        <span class="property-specs">AREA</span>
                                        <span class="property-specs-number">{{ property.area }}</span>

                                    </li>
                                    {% endif %}

                                    {% if property.parcela %}

                                        <li>
                                            <span class="property-specs">PARCELA</span>
                                            <span class="property-specs-number">{{ property.parcela }}</span>

                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                        <div class="row mb-5">




                            <div class="col-md-6 col-lg-3 text-left border-bottom border-top py-3">
                                <span class="d-inline-block text-black mb-0 caption-text">{{ property.dealType.name }}</span>
                                <strong class="d-block">{{ property.category.name }}</strong>
                            </div>


                            {% if property.area %}
                                <div class="col-md-6 col-lg-3 text-left border-bottom border-top py-3">
                                    <span class="d-inline-block text-black mb-0 caption-text">AREA</span>
                                    <strong class="d-block">{{ property.area }}</strong>
                                </div>

                            {% endif %}


                            {% if property.bedroomsNumber %}
                                <div class="col-md-6 col-lg-3 text-left border-bottom border-top py-3">
                                    <span class="d-inline-block text-black mb-0 caption-text">{{ 'property.bedrooms'|trans }}</span>
                                    <strong class="d-block">{{ property.bedroomsNumber }}</strong>
                                </div>

                            {% endif %}

                            {% if property.bathroomsNumber %}
                                <div class="col-md-6 col-lg-3 text-left border-bottom border-top py-3">
                                    <span class="d-inline-block text-black mb-0 caption-text">{{ 'property.bathrooms'|trans }}</span>
                                    <strong class="d-block">{{ property.bathroomsNumber }}</strong>
                                </div>

                            {% endif %}

                        </div>



                        <h2 class="h4 text-black">Mas Información</h2>
                        <p>
                            {{ property.propertyDescription.content|raw  }}
                        </p>

                        <div class="row mt-5">
                            <div class="col-12">
                                <h2 class="h4 text-black mb-3">Property Gallery</h2>
                            </div>

                            {% for foto in property.photos %}
                                <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                                    <a href="/uploads/images/small/{{ foto.photo }}" class="image-popup gal-item"><img src="/uploads/images/large/{{ foto.photo }}" alt="Image" class="img-fluid"></a>
                                </div>

                            {% endfor %}


                        </div>
                    </div>

                </div>

                <div class="col-lg-4 pl-md-5">
                    <div class="bg-white widget border rounded">
                        <h3 class="h4 text-black widget-title mb-3">Certificado Energético</h3>

                        {{ include('property/partials/_certificado.html.twig') }}

                    </div>

                    <div class="bg-white widget border rounded">

                        <h3 class="h4 text-black widget-title mb-3">Contacte Nos</h3>

                        {{ include('property/partials/_site_form_property_info.html.twig') }}

                    </div>



                </div>
            </div>
        </div>
    </div>










    {% if properties %}
        {{ include('property/partials/_similar_properties.html.twig') }}
    {% endif %}

{% endblock %}

{% block javascripts %}

{{ parent()}}


{#
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>


    {% if property.showMap == true and property.latitude != '' and property.longitude != '' %}


            {% if site.ymaps_key != '' %}

                <script src="https://maps.googleapis.com/maps/api/js?callback=initMap&v=weekly&key={{ site.ymaps_key }}&language={{ app.request.locale }}" async defer></script>

            {% else %}

            <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly&language={{ app.request.locale }}&region=ES"
            defer
            ></script>

            {% endif %}

            <script>
            const $map = $('#map');
const latitude = $map.attr('data-latitude');
const longitude = $map.attr('data-longitude');
const hintContent = $map.attr('data-hintContent');
const balloonContent = $map.attr('data-balloonContent');

function initMap() {
    // Creating the map.

    let map_center = { lat: {{property.latitude}}, lng:  {{property.longitude}}};
    let infoWindow = new google.maps.InfoWindow();
    let map = new google.maps.Map(
        document.getElementById("map"),
        {
            zoom: 4,
            center: map_center,
        });



        let marcador =  new google.maps.Marker({
                position: map_center,
                map,
                title: balloonContent,
                    labels: balloonContent,

            });


        marcador.addListener("click", () => {
        infoWindow.close();
        infoWindow.setContent(marcador.getTitle());
        infoWindow.open(marcador.getMap(), marcador);
        });

}

$map.css({
    width: '100%',
    height: '280px',
    'padding-top': '20px'
});

            </script>

    {% endif %}
#}
{% endblock %}
